/* Estilo ciberpunk para Saxum Station */
body {
  background-color: #0d0d0d;
  color: #00ff99;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #ff00ff;
}

h1 {
  font-size: 2.5em;
  color: #ff00ff;
}

#player {
  text-align: center;
  margin-top: 50px;
}

audio {
  width: 80%;
  margin: 20px auto;
  display: block;
}

#nowPlaying {
  font-size: 1.5em;
  color: #ff00ff;
}
